.MuiAppBar-root {
  background-color: rgba(21, 19, 26, 0.5) !important;
}

.MuiOutlinedInput-root,
.MuiTextField-root,
.MuiInputLabel-root,
.MuiChip-root,
.MuiChip-deleteIcon,
.MuiSvgIcon-root {
  color: white !important;
  border-color: white !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.MuiChip-root {
  border: 1px solid white !important;
}

.MuiToolbar-root.Navbar {
  &__toolbar {
    color: white;
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 1rem;
    background-color: rgba(21, 19, 26, 0.5);
  }
}

@media (max-width: 600px) {
  .MuiToolbar-root.Navbar__toolbar {
    display: flex;
    flex-direction: column;
  }

  .MuiTypography-root {
    display: block !important;
    margin-bottom: 1rem !important;
  }

  .MuiAutocomplete-root {
    width: 100%;
  }
}
